{% extends "base.html" %}

{% block title %}설정{% endblock %}

{% block content %}
    <div class="main-header">
        <h2>설정</h2>
    </div>

    <hr class="main-divider">

    <div class="main-menu">
        <a href="{{ url_for('settings_account') }}" class="menu-button">
            계정 관리
        </a>
        <a href="{{ url_for('settings_features') }}" class="menu-button">
            편의 기능
        </a>
        <a href="{{ url_for('settings_support') }}" class="menu-button">
            고객 지원
        </a>
    </div>
{% endblock %}